.place__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  max-width: 484px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .place__container {
    max-width: 456px;
  }
}

@media screen and (max-width: 768px) {
  .place__container {
    max-width: 352px;
  }
}

@media screen and (max-width: 740px) {
  .place__container {
    padding: 0 5%;
  }
}

@media screen and (max-width: 320px) {
  .place__container {
    margin: 0 auto;
    row-gap: 25px;
  }
}