.places {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 80px;
  padding: 0 11.563%;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
    margin: 0;
    padding: 0 4.688%;
  }
}

@media screen and (max-width: 768px) {
  .places {
    gap: 73px;
    padding: 0 3.125%;
  }
}

@media screen and (max-width: 320px) {
  .places {
    max-width: 320px;
    gap: 50px;
    padding: 0;
  }
}