.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 52px;
  margin: 28px auto 56px;
  max-width: 1184px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    margin-top: 16px;
  }
}