.place__paragraph {
  margin: 0;
  font-size: 18px;
  line-height: 163%;
  
}

.place__paragraph:last-of-type {
  margin-top: auto 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}