.header__lang-link {
  font-size: 24px;
  line-height: 1.17;
  text-align: right;
  text-decoration: none;
}

.header__lang-link:first-child {
  text-decoration: underline;
}

.header__lang-link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) and (min-width: 321px) {
  .header__lang-link {
    /* 18px - 24px */
    font-size: calc(1.13rem + 6 * (100vw - 320px) / 448);
    /* 20px - 28px */
    line-height: calc(1.4rem + 8 * (100vw - 320px) / 448);
  }
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}


