.cover__background {
  background-image: url('../../../images/cover-trains.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #2A2C2F;
  height: 48.2vw;
  max-width: 1184px;
  width: 100%;
  text-align: center;
  transition: opacity ease 2s;
}

.cover__background:hover {
  opacity: .8;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    height: 71.5vw;
    max-width: 1024px;
    max-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    max-width: 768px;
    max-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    max-width: 320px;
    max-height: 200px;
  }
}
