.place {
  display: grid;
  max-width: 984px;
  width: 100%;
  grid-template-columns: fit-content(460px) auto;
  column-gap: 40px;
  row-gap: 48px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: fit-content(440px) auto;
    max-width: 928px;
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: fit-content(340px) auto;
    max-width: 720px;
    column-gap: 28px;
  }
}

@media (min-width: 320px) and (max-width:740px) {
  .place {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    column-gap: 3.13%;
  }
}

@media screen and (max-width: 320px) {
  .place {
    max-width: 320px;
    row-gap: 32px;
  }
}